.title {
  font-size: $font-title;
  color: $color-white;
  text-transform: uppercase;
  border: 2px solid $color-white;
  padding: 0.5em;
  font-weight: normal;
}

.section-title {
  font-size: $font-section-title;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.base-text {
  color: $color-dark-gray;
  font-size: $font-base-text;
  line-height: 1.5;
}
